# variables prefixed with VITE_ are accessible from the vue client app
# VITE_MY_ENV_VARIABLE=environemnt variable value from .env file
# const publicEnvVar = import.meta.env.VITE_MY_ENV_VARIABLE;

# variables without the VITE_ prefix are NOT accessible from the vue client app
# SERVER_SIDE_ONLY_VAR=this can"t be accessed on the client
# const privateEnvVar = import.meta.env.SERVER_SIDE_ONLY_VAR;

VITE_BACKEND_URL="HASURA_URL"

# VARIABLES FOR AUTH0
VITE_CLIENT_ID=""
VITE_DOMAIN=""

# SENTRY VARIABLES
VITE_SENTRY_TRACES_SAMPLE_RATE=1.0 # Capture 100% of the transactions, reduce in production!
VITE_SENTRY_REPLAY_SESSION_SAMPLE_RATE=1.0 # This sets the sample rate at 10%. You may want to change it to 100% while in development and then sample at a lower rate in production.
VITE_SENTRY_REPLAY_ON_ERROR_SAMPLE_RATE=1.0 # If you're not already sampling the entire session, change the sample rate to 100% when sampling sessions where errors occur.
VITE_SENTRY_TRACE_PROPAGATION_TARGET="https:yourserver.io/api/"
SENTRY_TELEMETRY=false # Set to true in production
VITE_SENTRY_DSN="NONE"
SENTRY_AUTH_TOKEN="NONE"
SENTRY_ORG="NONE"
SENTRY_PROJECT="NONE"
VITE_FILE_MANAGER="<NESTJS_BACKEND_URL>/file-manager/" # NESTJS backend

# CREATE A FILE ".env.production" WITH THESE SAME VARIABLES NAMES