body {
  --el-color-primary: #e94c63;
  --el-color-primary-light-3: #ef8091;
  --el-color-primary-light-5: #f4a4b0;
  --el-color-primary-light-7: #f8c9d0;
  --el-color-primary-light-8: #fadbe0;
  --el-color-primary-light-9: #fdedf0;
  --el-color-primary-dark-2: #e63752;
}
